* {
  box-sizing: border-box;
}

body {
  background-image: url(https://images.unsplash.com/photo-1578677103277-409d1213df61?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1578&q=80);
  background-repeat: no-repeat;
  background-repeat: cover;
  background-position: center center;
  height: 100vh;
  font-family: "Shadows Into Light Two", sans-serif;
  color: blanchedalmond;
  text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

h1 {
  font-weight: normal;
  font-size: 80px;
  margin: -200px 0 80px;
}

.countdown {
  display: flex;
  transform: scale(2);
  margin-top: 50px;
  margin-bottom: -50px;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.time h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  margin: 0 0 20px;
}

@media (max-width: 500px) {
  h1 {
    font-size: 45px;
  }
  .time {
    margin: 5px;
  }
  .time h2 {
    font-size: 12px;
  }
  .time h4 {
    font-size: 10px;
  }
}
